 
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:th="http://www.thymeleaf.org">
 
<head>
<title>Öğrenciler</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-color:#33475b" >


<div class="container">
    <img width="720" style="display: block;margin-left: auto;margin-right: auto;width: 50%;" height="640" src="https://png.pngtree.com/png-vector/20190716/ourlarge/pngtree-user-management-icon-trendy-style-isolated-background-png-image_1543606.jpg" border="0" ></img>
  <h2  style="text-align: center;color:mediumvioletred">ÖĞRENCİ YÖNETİM SİSTEMİ</h2>
  <div class="alert alert-warning" style="text-align:center;">
    <a  href="ogrenciler/list" class="btn btn-info ">ÖĞRENCİ YÖNETİM EKRANINA GİT</a>
    
  </div>
</div>
 
</body>
</html>